[submodule "projects_starting_point"]
	path = projects_starting_point
	url = https://github.com/udacity/fend.git
[submodule "fend-webpack-content"]
	path = fend-webpack-content
	url = git@github.com:yosoufe/fend-webpack-content.git
[submodule "fend-webpack-sass"]
	path = fend-webpack-sass
	url = git@github.com:yosoufe/fend-webpack-sass.git
