*, *::before, *::after {
    box-sizing: border-box;
}

body{
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    background: #35adf296;
    margin: 0;
    padding: 0;
    font-size: 20px;
}

.headline {
    background-color: rgb(0, 38, 255);
    color: #f0d43a;
    padding: 10px;
}

#app{
    display: grid;
    grid-auto-rows: min-content;
    color: #f0d43a;
    justify-content: center;
    align-items: center;
    grid-gap: 1em;
    font-family: 'Oswald', sans-serif;
}

.holder{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.entry{
    background: rgba(59, 74, 107, .4);
    padding: 10px;
}

.title{
    display: flex;
    width: 100%;
    justify-content: center;
}

#entryHolder{
    display: flex;
    flex-direction: column;
    align-content: start;
    width: 100%;
}

#date,
#temp{
    display: inline-block;
    height: 1.5em;
}

#content{
    /* display: inline-block; */
    white-space: pre-wrap;
    height:calc(1.5em * 9);
    width: 100%;
}


/*  Basic Styling To Override Default For Basic HTML Elements */
label{
    display:block;
    font-size: 27px;
}

input{
    display:block;
    height: 60px;
    width: 320px;
    background:#22b2da;
    color: #f0d43a;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: none;
    padding: 10px;
}

button{
    width: 120px;
    height: 80px;
    background: #3b4a6b;
    color: #f0d43a;
    font-size: 26px;
    font-family: 'Oswald', sans-serif;
    border: none;
    box-shadow: 2px 4px 5px #444;
    margin: 10px;
}
h1{
    font-size: 36px;
}

textarea{
    background:#22b2da;
    color: #f0d43a;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    padding: 10px;
}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 