*, *::before, *::after {
    box-sizing: border-box;
}

body{
    background: #fffff8;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    margin: 0;
    padding: 0;
}

#app{
    display: grid;
    grid-auto-rows: min-content;
    /* grid-template-columns:  */
    /* compensate 10px margin + 10px padding */
    min-height: calc(100vh - 20px); 
    min-width: calc(100vw - 20px);
    background: #35adf296;
    color: #f0d43a;
    justify-content: center;
    align-items: center;
    grid-gap: 1em;
    font-size: 20px;
    padding: 10px;
    margin: 10px;
    font-family: 'Oswald', sans-serif;
}

.holder{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.entry{
    background: rgba(59, 74, 107, .4);
}

#entryHolder{
    display: block;
    height: ;
}

#date{
    height: 1em;
}

#temp{
    height: 1em;
}

#content{
    height: 3em;
}

.headline {
    background-color: rgb(0, 38, 255);
    width: 1fr;
}

.title{

}

/*  Basic Styling To Override Default For Basic HTML Elements */
label{
    display:block;
    font-size: 27px;
}

input{
    display:block;
    height: 60px;
    width: 320px;
    background:#22b2da;
    color: #f0d43a;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: none;
}

button{
    width: 400px;
    height: 100px;
    background: #3b4a6b;
    color: #f0d43a;
    font-size: 26px;
    font-family: 'Oswald', sans-serif;
    border: none;
    box-shadow: 2px 4px 5px #444;
}
h1{
    font-size: 36px;
}

textarea{
    background:#22b2da;
    color: #f0d43a;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 