* {
    // outline: yellow 1px solid;
}

:root{
    --background_elements: rgba(226, 226, 226, 0.8);
}

body {
    display: flex;
    flex-direction: column;
    display: flex;
    min-height: 100vh;
    background-image: url(//unsplash.it/500/1000);
    background-size: cover;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    
    main {
        flex: 2;
        margin: 25px 25px;
        outline: 5px solid black;
    
        section {
            max-width: 800px;
            margin: 50px auto;

            &.results_section{
                font-size: 180%;
                background-color: var(--background_elements);
                padding: 10px;
                border-radius: 15px;
                line-height: 1.5em;
            }
        
            #results{
                // to keep the new lines
                white-space: pre-wrap; 
                display: inline-block;
                width: 100%;
                min-height: 4 * 1.5em;
            }

            label{
                color: #eee;
                min-height: 1em;
                color: red;
                font-size: 150%;
            }
        }
    }
}

