header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 2em;
    padding: 40px;
    background-color: var(--background_elements);
}
