.table_of_content{
  display: flex;
  flex-direction: column;
  border-bottom: 4px solid black;
  width:100%; /* for border */
}

figcaption{
  text-align: center;
}

.blog_content_wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.blog_content{
  max-width: 1380px;
}

iframe {
  display: block;
  margin: auto;
}

code{
  display: block;
  white-space: pre-wrap;
  background-color: rgba(184, 184, 184, 0.438);
  padding: 10px;
  border-radius: 15px;
}

.blog_navigation{
  display: flex;
  flex-direction: row ;
}

.blog_navigation button{
  margin: 15px;
}

/* Source:  https://www.avexdesigns.com/blog/responsive-youtube-embed */
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-container iframe, .video-container object, .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

img{
  display: block;
  max-width: 80% ;
  margin-left: auto;
  margin-right: auto;
}

/* article{
  display: flex;
  flex-direction: column;
} */

