.table_of_content{
  /* display: flex;
  border-radius: 0px;
  flex-direction: column;
  padding: 5px; */
  border-bottom: 4px solid black;
}

figcaption{
  text-align: center;
}

.blog_content_wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.blog_content{
  max-width: 1380px;
}

iframe {
  display: block;
  margin: auto;
}

code{
  display: block;
  white-space: pre-wrap;
  background-color: rgba(184, 184, 184, 0.438);
  padding: 10px;
  border-radius: 15px;
}