.footer{
  grid-area: ft;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 50px;
}

.social{
  display: flex;
  width: 120px;
  flex-direction: row;
  justify-content: space-evenly;
}

#social_img{
  width: 30px;
  height: 30px;
}