.header{
  grid-area: hd;
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-image: url('../images/headers/header3.jpg');
  background-size: cover;
  background-position: center;
  color: rgb(221, 215, 207);
}

#clean-link{
  text-decoration: none; /* no underline */
  color: inherit;
}