.main{
  display: grid;
  grid-template-columns: fit-content(50%) 1fr;
  grid-template-rows: 120px fit-content(8ch) 60px;
  grid-template-areas: 
  "hd hd"
  "sd main_ar"
  "ft ft";
  border: 2px solid yellowgreen;
  column-gap: 10px;
  row-gap: 10px;
  justify-content: center;
}

.header{
  grid-area: hd;
  display: flex;
  flex-direction: column;
}

.sidebar{
  grid-area: sd;  
}

.body_main_page{
  grid-area: main_ar;  
  display: grid;
  flex-direction: column;
  border: 2px solid gray;
  grid-template-rows: fit-content(50%) 1fr;
  gap: 10px;

}

.footer{
  grid-area: ft;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 50px;
}

.social{
  display: flex;
  width: 250px;
  flex-direction: row;
  justify-content: space-evenly;
}

.box{
  /* width: 250px;
  height: 150px; */
  border: 1px solid red;
}

.recent_blogs{
  display: grid;
  grid-template-rows: 50% 50%;
  grid-template-columns: 50% 50%;
  gap: 10px;
}

.blog_thumbnail{
  display: flex;
  flex-direction: row;
  justify-content: left;
}