<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Test</title>
</head>

<body>

  <header>
    <div class="">
      Logo
    </div>
    <div class="">
      navigation
    </div>
  </header>

  <main>
    <section>
      <form class="">
        <!-- onblur="Client.onBlur()"  -->
        <input id="input_string" type="text" name="input" value="" placeholder="Enter Text">
        <input type="submit" name="" value="Submit Text" onclick="return Client.handleSubmitText(event)">
      </form>
      <form class="">
        <input id="input_url" type="url" name="input" value="" placeholder="Enter URL">
        <input type="submit" name="" value="Submit URL" onclick="return Client.handleSubmitUrl(event)">
      </form>
    </section>
    <section>
      <strong>Form Results:</strong>
      <div id="results"></div>
    </section>
  </main>

  <footer>
    <p>This is a footer</p>
  </footer>

</body>

</html>