<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Sentiment Analysis for Text and URLs</title>
</head>

<body>

  <header>
    <div class="title">
      Sentiment Analysis for Text and URLs
    </div>
  </header>

  <main>
    <section>
      <form class="">
        <label id="input_string_label" for="input_string"></label>
        <input id="input_string" type="text" name="input" value="" placeholder="Enter Text">
        <input class="submit_button" type="submit" name="" value="Submit Text" onclick="return Client.handleSubmitText(event)">
      </form>
      <form class="">
        <label id="input_url_label" for="input_url"></label>
        <input id="input_url" type="url" name="input" value="" placeholder="Enter URL">
        <input class="submit_button" type="submit" name="" value="Submit URL" onclick="return Client.handleSubmitUrl(event)">
      </form>
    </section>
    <section class="results_section">
      <strong>Sentiment Analysis:</strong>
      <div id="results"></div>
    </section>
  </main>

  <footer>
    <p>Powered By <a href="https://aylien.com/">AYLIEN.com</a></p>
  </footer>

</body>

</html>